/* ===== CTA Section CSS ===== */
.ricco-cta-section {
  position: relative;
  padding: 80px 0;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.ricco-cta-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../src/assets/as1.jpg") center/cover no-repeat;
  z-index: -2;
}

.ricco-cta-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 51, 98, 0.8);
  z-index: -1;
}

/* Typography */
.ricco-cta-title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
}

.ricco-cta-text {
  font-size: 20px;
  max-width: 900px;
  margin: 0 auto 35px;
  line-height: 1.6;
}

/* Button */
.ricco-cta-btn {
  display: inline-block;
  background: #0053d6;
  color: #fff;
  padding: 15px 35px;
  font-size: 20px;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.3s ease;
}

.ricco-cta-btn:hover {
  background: #316cca;
}

@media screen and (max-width: 767px) {
  .ricco-cta-title {
    font-size: 38px;
  }
}
